.collection {
  margin-top: 10px;
}

.collection__checkbox {
  margin-right: 10px;
}

.collection__table-container {
  width: 100%;
  overflow: auto;
}

.collection__options-button {
  margin: 10px 0;
}