doctype html
html(lang="en", ng-app="app")
  head
    title
    base(href="#{getBase()}/")
    meta(charset="utf-8")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/main.css")
  body

    block content

    include ../partials/livereload

    script(type="text/javascript", src="dist/libs.bundle.js")
    script(type="text/javascript", src="dist/main.min.js")